{
  "BASE_URL": "<API_host_url>",
  "INITIAL_PAGE": "https://dev.console.test.cloud.ibm.com/",
  "BROWSER": "",
  "PREFIX": "",
  "PATH_TEST_FILES": "<API_data_Path>",

  "USER": {
    "owner": {
      "USERNAME": "",
      "PASSWORD": "",
      "EMAIL": "",
      "ID": "",
      "TOKEN": ""
    }
  },

  "HEADERS": {
    "TOKEN": "<Token>",
    "Content-Type": "application/json"
  },

  "ACCOUNTS": {
    "API": {
      "ID": "",
      "NAME": ""
    },
    "GUI": {
      "ID": "",
      "NAME": ""
    }
  }
}
